{{ define "default.title" }}[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}{{ end }}
{{ define "default.message" -}}
Status: {{ .Status }}
Alert: {{ .CommonLabels.alertname }}
Instance: {{ .CommonLabels.instance }}
Summary: {{ .CommonAnnotations.summary }}
Description: {{ .CommonAnnotations.description }}
{{- end }}

{{ define "telegram.message" -}}
[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}
告警數量: {{ len .Alerts }}
{{ range .Alerts -}}
- Instance: {{ .Labels.instance }}
  Severity: {{ .Labels.severity }}
  Summary: {{ .Annotations.summary }}
  Description: {{ .Annotations.description }}
{{ end -}}
{{- end }}
